doctype html

block vars
    - var page = __('Kiritoc')

html
    head
        title=__('main title') + ' - ' + __(page)

        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')

        script(type='text/javascript' src='/javascripts/jquery.min.js')
    body
        header
            .container
                h1.main-title
                    a(href="/", title= __('main title'), alt= __('main title'))=__('main title')
                h2.subtitle=__('subtitle')
        .container
            include mixins
            block content

        footer.text-center
            h5!=__('footer text', {footerLink: '<a href="https://github.com/kirdox/nextchest">GitHub</a>'})

            p
                span.fa.fa-globe &nbsp;
                span
                    a(href='', title=__('change language to fr'), name='fr_FR').js-set-lang fr
                    | &nbsp;
                    a(href='', title=__('change language to en'), name='en_US').js-set-lang en

        script(type="text/javascript").
            $(function () {
                $('.js-set-lang').click(function () {
                    document.cookie = "lang =" + $(this).attr('name');
                    location.reload();
                });
            });

        block javascript